<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259059908017-mv63llt9tc83qgojiqfq5mq3c166npdq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259059908017-mv63llt9tc83qgojiqfq5mq3c166npdq</string>
	<key>API_KEY</key>
	<string>AIzaSyDqNds6F2sTSpOYFT87ihbxG6yh1ZxYi1c</string>
	<key>GCM_SENDER_ID</key>
	<string>259059908017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>example.TwitterSwift</string>
	<key>PROJECT_ID</key>
	<string>twitterwanggang</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterwanggang.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259059908017:ios:a14c06e9effc604cef1190</string>
</dict>
</plist>